body
{
}

a, a:hover, a:visited {
    color: #085601;
}

p {
    opacity: 0.5;
    font-size: 12px;
    border-left: 5px solid white;
    padding-left: 10px;
    font-size: 14px;
}

p:hover {
    opacity: 0.8;
    font-size: 18px;
}
p.high, p.medium, p.low {
    opacity: 1.0;
    font-weight: 500;
    color: #085601;
}
p.high {
    border-left: 5px solid #18fe00;
}


p.medium {
    opacity: 1.0;
    border-left: 5px solid #9fff00;
}

p.low {
    opacity: 1.0;
    border-left: 5px solid #BAFF00;
}
