{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
{% if count %}
    <h4>{{ count }} decisions </h4>
{% endif %}

    <div class="container">
        {% if board %}
          <div class="col-md-12">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#mostcited">Influential decisions</a></li>
                      <li><a data-toggle="tab" href="#earliestcases">Earliest decisions</a></li>
                      <li><a data-toggle="tab" href="#latestcases">Latest decisions</a></li>
                      <li><a data-toggle="tab" href="#populararticles">Most cited articles </a></li>
                      <li><a data-toggle="tab" href="#popularipc">Most common IPC classes</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="mostcited" class="tab-pane fade in active">
                        <h4> The most cited Decisions </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Decision </th>
                                    <th> Number of citations </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dec, fr in citations %}
                                    <tr>
                                        <td> <a href="{% url 'decision' cn=dec %}"> {{ dec }}   </a> </td>
                                        <td> {{ fr }} </td>
                                    </tr>
                                {% endfor %}                          
                            </tbody>
                        </table>
                      </div>
                      <div id="earliestcases" class="tab-pane fade">
                        <h4> The first five decisions </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                <th> Case </th>
                                <th> Date </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for decision in earliest %}
                                    <tr>                                
                                        <td>  <a href="{% url 'decision' cn=decision.CaseNumber %}"> {{ decision.CaseNumber }}   </a> </td>
                                        <td> {{ decision.DecisionDate }} </td>
                                    </tr>
                                {% endfor %}                          
                            </tbody>
                        </table> 
                      </div>
                      <div id="latestcases" class="tab-pane fade">
                        <h4> The lastest five decisions </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                <th> Decisions </th>
                                <th> Date </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for decision in latest %}
                                    <tr>
                                        <td> <a href="{% url 'decision' cn=decision.CaseNumber %}"> {{ decision.CaseNumber }}   </a> </td>
                                        <td> {{ decision.DecisionDate }} </td>
                                    </tr>
                                {% endfor %}                          
                            </tbody>
                        </table>
                      </div>
                      <div id="populararticles" class="tab-pane fade">
                        <h4> The most common Articles </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Article </th>
                                    <th> Number of decisions </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pr, fr, pc in provisions %}
                                    <tr>
                                        <td> {{ pr }} </td>
                                        <td> {{ fr }} </td>
                                        <td> {{ pc }}% </td>
                                    </tr>
                                {% endfor %}                          
                            </tbody>
                        </table>
                      </div>
                      <div id="popularipc" class="tab-pane fade">
                        <h4> The most common IPC classes </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Class </th>
                                    <th> Number of decisions </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cl, fr, pc in ipc %}
                                    <tr>
                                        <td> {{ cl }} </td>
                                        <td> {{ fr }} </td>
                                        <td> {{ pc }}% </td>
                                    </tr>
                                {% endfor %}                          
                            </tbody>
                        </table>  
                      </div>                     
                    </div>
                </div>
        {% endif %}   
         

    </div>

{% endblock %}