
.navbar-dv{
    background-color: #c2d4c9;
    border-bottom: solid 1px #013010;
    margin: 0px;
}

.navbar-nav > li > a, .navbar-brand {
    color: #013010;
}

.navbar-nav > li > a:hover, .navbar-brand:hover {
    color: black;
    background-color: #a4b9ac;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: black;
    background-color: #c2d4c9;
}

.navbar-dv .navbar-nav > .dropdown > a .caret,
.navbar-dv .navbar-nav > .dropdown > a:hover .caret,
.navbar-dv .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: darkgreen;
    border-bottom-color: darkgreen;
}


footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 20%;
    z-index: -1;
}
