<li class="dropdown">
<a href="{% url 'board' '3.5.01' %}" data-toggle="dropdown" class="dropdown-toggle">Boards
    <b class="caret"></b>
</a>


<ul class="dropdown-menu">
    <li><a href="{% url 'board' '3.1.01' %}">3.1.01</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'board' '3.2.01' %}">3.2.01</a></li>
    <li><a href="{% url 'board' '3.2.02' %}">3.2.02</a></li>
    <li><a href="{% url 'board' '3.2.03' %}">3.2.03</a></li>
    <li><a href="{% url 'board' '3.2.04' %}">3.2.04</a></li>
    <li><a href="{% url 'board' '3.2.05' %}">3.2.05</a></li>
    <li><a href="{% url 'board' '3.2.06' %}">3.2.06</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li><a href="{% url 'board' '3.3.01' %}">3.3.01</a></li>
    <li><a href="{% url 'board' '3.3.02' %}">3.3.02</a></li>
    <li><a href="{% url 'board' '3.3.03' %}">3.3.03</a></li>
    <li><a href="{% url 'board' '3.3.04' %}">3.3.04</a></li>
    <li><a href="{% url 'board' '3.3.05' %}">3.3.05</a></li>
    <li><a href="{% url 'board' '3.3.06' %}">3.3.06</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'board' '3.4.01' %}">3.4.01</a></li>
    <li><a href="{% url 'board' '3.4.02' %}">3.4.02</a></li>
    <li><a href="{% url 'board' '3.4.03' %}">3.4.03</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'board' '3.5.01' %}">3.5.01</a></li>
    <li><a href="{% url 'board' '3.5.02' %}">3.5.02</a></li>
    <li><a href="{% url 'board' '3.5.03' %}">3.5.03</a></li>
    <li><a href="{% url 'board' '3.5.04' %}">3.5.04</a></li>
    <li><a href="{% url 'board' '3.5.05' %}">3.5.05</a></li>
    <li><a href="{% url 'board' '3.5.06' %}">3.5.06</a></li>
    <li><a href="{% url 'board' '3.5.07' %}">3.5.07</a></li>
</ul>

</li>



