{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="container">
    <div class="row">
        <div class="col-md-4" id="bibl-display-parent">

            {% if decision %}
            <div class="bibl-display" id="bibl-display-div">
                <h1 class="casenumber" > {{ decision.CaseNumber}} </h1>
                <p class="headword"> {{ decision.Headword}}</p>
                <p class="ECLI"> {{ decision.ECLI}} </p>
                <p class="date+board"> {{decision.DecisionDate}} by board {{ decision.Board }}
                    {% if decision.OnlineDate %}
                        (online since {{ decision.OnlineDate }})
                    {% endif %}
                </p>
                <h4 class="title"> {{ decision.Title }} </h4>
                <p class="applicant"> {{ decision.Applicant }} </p>
                {% if decision.Opponents %} <p class="opponents">Opponents: {{ decision.Opponents}} </p> {% endif %}
                {% if decision.Articles %} <p class="articles+rules"> Article(s) {{ decision.Articles }} </p> {% endif %}
                {% if decision.Rules %} <p class="articles+rules"> Rules {{ decision.Rules }} </p> {% endif %}
                <p class="keywords"> {{ decision.Keywords }} </p>

                {% if citedDecisions %}
                    Cited decisions: 
                    {% for cited in citedDecisions %}
                        <a href="{% url 'decision' cn=cited.CaseNumber %}"> {{ cited.CaseNumber }}   </a>
                    {% endfor %}                      
                {% endif %}
            </div>
            {% endif %}
        </div>  

        <div class="col-md-4">               
            {% if citingCount %}
                <p> This decision is cited in {{ citingCount }} cases: </p> 
                {% for citing in citingDecisions %}
                    <a href="{% url 'decision' cn=citing.CaseNumber %}"> {{ citing.CaseNumber }}   </a>
                {% endfor %}
            {% else %}
                <p> This decision is not cited by other decisions. </p>                  
            {% endif %}
        </div>

            
    </div>

    

</div>


{% endblock %}
